:root {
    --color-one: #06326B;
    --color-two: #0D0B0C;
    --color-three: #292B52;
    --color-four: #29524D;
    --color-five: #2C4867;
}

.particle {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 5s;
    animation-name: backwards;

    background-color:white;
    position: absolute;
    /* perspective: 10cm;
    perspective-origin: center; */

    width: 500px;
    height: 5px;


}

@keyframes backwards {
    0%{
        transform:  
                    perspective(25cm)
                    translate3d(0cm, 0cm, 0cm)
                    rotateY(89deg);
    }
    100%{
        transform:  
                    perspective(25cm)
                    translate3d(0cm, 0cm, 25cm)
                    rotateY(89deg);
    }
    /*We don't have a clipping plane so we gotta do it ourselves*/
}

@font-face {
    font-family: Exo;
    src: url(fonts/Exo-VariableFont_wght.ttf);
}


@font-face {
    font-family: HindGuntur;
    src: url(fonts/HindGuntur-Regular.ttf);
}

@font-face {
    font-family: Karla;
    src: url(fonts/Karla-VariableFont_wght.ttf);
}

h1 {
    font-family: HindGuntur;
    color: var(--color-one);
    /*text-shadow: 3px 3px var(--color-two);*/
}

h2 {
    font-family: HindGuntur;
    color: var(--color-three);
}